.layout-container {
    display: flex;
    min-height: 100vh; 

  }
  
  .sticky-sidebar {
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    height: 100vh; 
    z-index: 1000;
    margin-bottom: 0; 
    padding-bottom: 0; 
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%; 
  }
  
  .main-content {
    flex-grow: 1;
    padding: 10px;
    min-height: 80vh;
    overflow-x: hidden; 
  }
  
  footer {
    background-color: #262937;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; 
    margin-top: 0;
    left: 0;
    bottom: 0;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 80px; 
    }
  
    .main-content {
      max-width: 100%;
    }
  }
  