# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables file
.env

# Ignore requirements file if not needed
requirements.txt

# Ignore OS-specific files
.DS_Store
Thumbs.db
